@model List<Person>

@{
    ViewData["Title"] = "Privacy Policy";
    var currentYear = DateTime.Now.Year;
    var dayOfWeek = DateTime.Now.DayOfWeek;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>This is @currentYear</p>

@if(dayOfWeek == DayOfWeek.Sunday || dayOfWeek == DayOfWeek.Saturday)
{
    <p>It's weekend</p>
}
else
{
    <p>It's not a weekend yet :/</p>
}

@foreach(var person in Model)
{
    <p>@person.FirstName | @person.LastName</p>
}